@{

}

<footer class="border-top footer text-muted bg-light-blue">
    <div class="container">
        &copy; 2023 - Register.WebMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
